@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato);
@font-face {
  font-family: "Chunkfive";
  src: url("../fonts/Chunkfive.otf"); }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?j19mh4");
  src: url("../fonts/icomoon.eot?j19mh4#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?j19mh4") format("truetype"), url("../fonts/icomoon.woff?j19mh4") format("woff"), url("../fonts/icomoon.svg?j19mh4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-social-instagram:before {
  content: "\e900"; }

.icon-social-facebook:before {
  content: "\e901"; }

.icon-social-twitter:before {
  content: "\e902"; }

/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%;
  height: 100%; }

.clearfix:before, .b-header-top:before, .b-content-set-section-l-b-t-f:before, .b-content-set-section-l-b-t-b:before, .b-content-set-section-l-b-t-b-i:before, .b-content-set-section-l-b-t-d:before, .b-content-set-section-l-b-t-d-i:before, .b-content-set-section-l-button:before, .b-content-set-section-r-f:before, .b-content-set-section-r-i:before, .b-content-contact-f-section:before, .b-content-contact-f-section-l-c:before, .footer-block-top:before,
.clearfix:after,
.b-header-top:after,
.b-content-set-section-l-b-t-f:after,
.b-content-set-section-l-b-t-b:after,
.b-content-set-section-l-b-t-b-i:after,
.b-content-set-section-l-b-t-d:after,
.b-content-set-section-l-b-t-d-i:after,
.b-content-set-section-l-button:after,
.b-content-set-section-r-f:after,
.b-content-set-section-r-i:after,
.b-content-contact-f-section:after,
.b-content-contact-f-section-l-c:after,
.footer-block-top:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.clearfix:after, .b-header-top:after, .b-content-set-section-l-b-t-f:after, .b-content-set-section-l-b-t-b:after, .b-content-set-section-l-b-t-b-i:after, .b-content-set-section-l-b-t-d:after, .b-content-set-section-l-b-t-d-i:after, .b-content-set-section-l-button:after, .b-content-set-section-r-f:after, .b-content-set-section-r-i:after, .b-content-contact-f-section:after, .b-content-contact-f-section-l-c:after, .footer-block-top:after {
  clear: both; }

.clearfix, .b-header-top, .b-content-set-section-l-b-t-f, .b-content-set-section-l-b-t-b, .b-content-set-section-l-b-t-b-i, .b-content-set-section-l-b-t-d, .b-content-set-section-l-b-t-d-i, .b-content-set-section-l-button, .b-content-set-section-r-f, .b-content-set-section-r-i, .b-content-contact-f-section, .b-content-contact-f-section-l-c, .footer-block-top {
  zoom: 1; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative; }

.empty {
  height: 273px; }

.footer {
  height: 273px;
  margin-top: -273px;
  position: relative; }

img {
  max-width: 100%; }

.b-header {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .b-header-top {
    background: transparent -webkit-gradient(linear, left top, left bottom, from(#79a4a4), to(rgba(125, 185, 232, 0))) repeat scroll 0 0;
    background: transparent -webkit-linear-gradient(top, #79a4a4 0%, rgba(125, 185, 232, 0) 100%) repeat scroll 0 0;
    background: transparent linear-gradient(to bottom, #79a4a4 0%, rgba(125, 185, 232, 0) 100%) repeat scroll 0 0; }
    .b-header-top-container {
      max-width: 1228px;
      margin-left: auto;
      margin-right: auto; }
      .b-header-top-container:after {
        content: " ";
        display: block;
        clear: both; }
      .b-header-top-container-line {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        margin: 35px 0; }

.b-logo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }
  .b-logo__link {
    text-decoration: none;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 1.7em;
    display: inline-block;
    padding: 8px 0; }
    .b-logo__link span {
      font-weight: bold; }

.b-nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: right;
  padding-left: 2.08333%;
  padding-right: 2.08333%; }
  .b-nav-button {
    display: none; }
  .b-nav nav {
    float: right; }
  .b-nav-ul {
    display: inline-block; }
    .b-nav-ul li {
      display: inline-block; }
      .b-nav-ul li a {
        display: inline-block;
        color: #ffffff;
        text-decoration: none;
        padding: 15px 20px;
        font-family: "Montserrat";
        font-size: 0.9em; }
        .b-nav-ul li a:hover {
          padding: 12px 17px;
          border: 3px solid #ffffff;
          -webkit-border-radius: 25px;
          border-radius: 25px; }
  .b-nav-persona {
    display: inline-block;
    cursor: pointer;
    position: relative; }
    .b-nav-persona img {
      vertical-align: middle;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
    .b-nav-persona-img:after {
      content: '';
      position: absolute;
      border: 5px solid transparent;
      border-top: 5px solid #ffffff;
      right: -15px;
      top: 50%; }
    .b-nav-persona-menu {
      position: absolute;
      background: #01a2a6;
      right: -15px;
      top: 50px;
      display: none; }
      .b-nav-persona-menu li {
        border-bottom: 1px solid #ffffff; }
        .b-nav-persona-menu li a {
          display: block;
          padding: 10px;
          color: #ffffff;
          text-align: center;
          text-decoration: none;
          font-family: "Lato";
          -webkit-transition: background 1s linear;
          transition: background 1s linear; }
          .b-nav-persona-menu li a:hover {
            color: #01a2a6;
            background: #ffffff; }

.b-header-bottom {
  font-family: "Montserrat";
  color: #ffffff;
  text-align: center;
  max-width: 1228px;
  margin-left: auto;
  margin-right: auto; }
  .b-header-bottom:after {
    content: " ";
    display: block;
    clear: both; }
  .b-header-bottom h1 {
    font-family: "Chunkfive";
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 110px; }
    .b-header-bottom h1 span {
      color: #01a2a6; }
  .b-header-bottom p {
    font-size: 1.1em;
    margin-top: 28px; }
  .b-header-bottom a {
    display: inline-block;
    text-decoration: none;
    padding: 30px;
    background: #ffffa6;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    font-size: 1em;
    text-transform: uppercase;
    color: #10273d;
    margin-top: 50px;
    margin-bottom: 100px;
    -webkit-transition: 1s;
    transition: 1s; }
    .b-header-bottom a:hover {
      background: #01a2a6;
      color: #ffffff; }

.b-content-city {
  background: #ffffff;
  padding-bottom: 60px; }
  .b-content-city-text {
    max-width: 1228px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    top: -50px;
    padding-top: 120px; }
    .b-content-city-text:after {
      content: " ";
      display: block;
      clear: both; }
    .b-content-city-text-i {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding-left: 2.08333%;
      padding-right: 2.08333%; }
      .b-content-city-text-i img {
        display: block;
        margin: 0 auto; }
    .b-content-city-text-t {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding-left: 2.08333%;
      padding-right: 2.08333%; }
      .b-content-city-text-t h2 {
        font-family: "Chunkfive";
        font-size: 4em;
        color: #29d9c2; }
        .b-content-city-text-t h2 span {
          color: #01a2a6; }
      .b-content-city-text-t p {
        font-family: "Lato";
        font-size: 1em;
        color: #777777;
        line-height: 2em;
        margin-top: 55px; }

.b-content-destination {
  background: #f2fefe; }
  .b-content-destination-section {
    max-width: 1228px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    padding-bottom: 45px; }
    .b-content-destination-section:after {
      content: " ";
      display: block;
      clear: both; }
    .b-content-destination-section-t {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 58.33333%;
      float: left;
      padding-left: 2.08333%;
      padding-right: 2.08333%;
      margin-left: 8.33333%; }
      .b-content-destination-section-t h2 {
        font-family: "Chunkfive";
        font-size: 4em;
        color: #29d9c2; }
        .b-content-destination-section-t h2 span {
          color: #01a2a6; }
      .b-content-destination-section-t p {
        font-family: "Lato";
        font-size: 1em;
        color: #777777;
        line-height: 2em;
        margin-top: 55px; }
    .b-content-destination-section-i {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: left;
      padding-left: 2.08333%;
      padding-right: 2.08333%;
      margin-left: 8.33333%;
      color: #c1c1c1; }
      .b-content-destination-section-i span {
        color: #ffffff;
        background: #c1c1c1;
        width: 20px;
        height: 20px;
        display: inline-block;
        text-align: center;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        font-style: italic; }
      .b-content-destination-section-i p {
        font-family: "Lato";
        display: inline-block; }

.b-content-search {
  background: #f2fefe; }
  .b-content-search-section {
    max-width: 1228px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px; }
    .b-content-search-section:after {
      content: " ";
      display: block;
      clear: both; }
    .b-content-search-section-s {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 58.33333%;
      float: left;
      padding-left: 2.08333%;
      padding-right: 2.08333%;
      margin-left: 8.33333%;
      position: relative; }
      .b-content-search-section-s button {
        position: absolute;
        cursor: pointer;
        border: none;
        background: #ffffff;
        padding: 0;
        top: 10px;
        left: 35px; }
      .b-content-search-section-s input {
        padding: 10px 5px 10px 40px;
        border: 1px solid #e8e8e8;
        -webkit-border-radius: 25px;
        border-radius: 25px; }
    .b-content-search-section-l {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 33.33333%;
      float: left;
      padding-left: 2.08333%;
      padding-right: 2.08333%;
      margin-top: 10px; }
      .b-content-search-section-l ul li {
        display: inline-block;
        text-transform: uppercase;
        font-family: "Lato"; }
        .b-content-search-section-l ul li a {
          text-decoration: none;
          color: #777777; }
        .b-content-search-section-l ul li a.active {
          font-weight: bold; }
      .b-content-search-section-l ul li:after {
        content: " / "; }
      .b-content-search-section-l ul li:last-child:after {
        content: ""; }

.b-content-info {
  background: #f2fefe;
  padding-top: 20px;
  padding-bottom: 85px; }
  .b-content-info-section-top {
    max-width: 1228px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/context-one.jpeg");
    background-size: cover;
    background-repeat: no-repeat; }
    .b-content-info-section-top:after {
      content: " ";
      display: block;
      clear: both; }
    .b-content-info-section-top div {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 41.66667%;
      float: right;
      padding-left: 2.08333%;
      padding-right: 2.08333%;
      background: rgba(255, 255, 255, 0.9);
      padding: 110px 35px;
      font-family: "Lato";
      position: relative; }
      .b-content-info-section-top div:before {
        content: "";
        border: 10px solid transparent;
        border-right: 10px solid rgba(255, 255, 255, 0.9);
        position: absolute;
        top: 50%;
        left: -20px; }
      .b-content-info-section-top div h3 {
        font-size: 2em;
        color: #01a2a6;
        margin-top: 30px;
        margin-bottom: 20px; }
      .b-content-info-section-top div p {
        color: #777777;
        line-height: 2em; }
      .b-content-info-section-top div a {
        position: absolute;
        bottom: 0;
        left: -114px;
        padding: 20px 15px;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        text-transform: lowercase;
        background: transparent -webkit-linear-gradient(295deg, rgba(153, 153, 153, 0) 40%, rgba(153, 153, 153, 0.42) 70%, black 100%) repeat scroll 0 0;
        background: transparent linear-gradient(155deg, rgba(153, 153, 153, 0) 40%, rgba(153, 153, 153, 0.42) 70%, black 100%) repeat scroll 0 0;
        font-family: "Lato";
        -webkit-transition: color 1s linear;
        transition: color 1s linear; }
        .b-content-info-section-top div a:hover {
          color: #01a2a6; }
        .b-content-info-section-top div a img {
          margin-left: 10px; }
  .b-content-info-section-bottom {
    max-width: 1228px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; }
    .b-content-info-section-bottom:after {
      content: " ";
      display: block;
      clear: both; }
    .b-content-info-section-bottom-l {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 55.83333%;
      float: left;
      margin-right: 2.5%;
      background-image: url("../images/content-two.jpg");
      background-size: cover;
      background-position: center center; }
      .b-content-info-section-bottom-l-t {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 52.91667%;
        float: left;
        background: rgba(255, 255, 255, 0.9);
        padding: 45px 15px;
        font-family: "Lato";
        position: relative; }
        .b-content-info-section-bottom-l-t:after {
          content: "";
          position: absolute;
          border: 10px solid transparent;
          border-left: 10px solid #ffffff;
          top: 50%;
          right: -20px; }
        .b-content-info-section-bottom-l-t h3 {
          font-size: 2em;
          color: #01a2a6;
          margin-top: 30px;
          margin-bottom: 20px; }
        .b-content-info-section-bottom-l-t p {
          color: #777777;
          line-height: 2em; }
        .b-content-info-section-bottom-l-t a {
          position: absolute;
          bottom: 0;
          right: -89%;
          padding: 20px 15px;
          display: inline-block;
          text-decoration: none;
          color: #ffffff;
          text-transform: lowercase;
          background: transparent -webkit-linear-gradient(295deg, rgba(153, 153, 153, 0) 40%, rgba(153, 153, 153, 0.42) 70%, black 100%) repeat scroll 0 0;
          background: transparent linear-gradient(155deg, rgba(153, 153, 153, 0) 40%, rgba(153, 153, 153, 0.42) 70%, black 100%) repeat scroll 0 0;
          font-family: "Lato";
          -webkit-transition: color 1s linear;
          transition: color 1s linear; }
          .b-content-info-section-bottom-l-t a:hover {
            color: #01a2a6; }
          .b-content-info-section-bottom-l-t a img {
            margin-left: 10px; }
    .b-content-info-section-bottom-r {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 41.66667%;
      float: left;
      background-image: url("../images/content-three.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative; }
      .b-content-info-section-bottom-r-i {
        width: 150px;
        height: 150px;
        background: #ffffff;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin: 102px auto; }
        .b-content-info-section-bottom-r-i img {
          margin-top: 25px;
          margin-left: 25px; }
        .b-content-info-section-bottom-r-i a {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 20px 15px;
          display: inline-block;
          text-decoration: none;
          color: #ffffff;
          text-transform: lowercase;
          background: transparent -webkit-linear-gradient(295deg, rgba(153, 153, 153, 0) 40%, rgba(153, 153, 153, 0.42) 70%, black 100%) repeat scroll 0 0;
          background: transparent linear-gradient(155deg, rgba(153, 153, 153, 0) 40%, rgba(153, 153, 153, 0.42) 70%, black 100%) repeat scroll 0 0;
          font-family: "Lato";
          -webkit-transition: color 1s linear;
          transition: color 1s linear; }
          .b-content-info-section-bottom-r-i a:hover {
            color: #01a2a6; }
          .b-content-info-section-bottom-r-i a img {
            margin-left: 10px; }

.b-content-pagination-section {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  font-family: "Chunkfive";
  font-size: 1em;
  margin-top: 50px; }
  .b-content-pagination-section:after {
    content: " ";
    display: block;
    clear: both; }
  .b-content-pagination-section ul {
    margin: 0 auto;
    display: table-row; }
    .b-content-pagination-section ul li {
      display: table-cell; }
      .b-content-pagination-section ul li a {
        text-decoration: none;
        display: table-cell;
        text-align: center;
        width: 250px;
        color: #acacac;
        -webkit-transition: color 1s linear;
        transition: color 1s linear; }
        .b-content-pagination-section ul li a:hover {
          color: #01a2a6; }
      .b-content-pagination-section ul li a.active {
        font-size: 2em;
        color: #01a2a6; }

.b-content-set {
  background: #ffffff; }
  .b-content-set-section {
    margin-top: 75px;
    margin-bottom: 99px;
    max-width: 1228px;
    margin-left: auto;
    margin-right: auto; }
    .b-content-set-section:after {
      content: " ";
      display: block;
      clear: both; }
    .b-content-set-section h2 {
      text-align: center;
      color: #29d9c2;
      font-family: "Chunkfive";
      font-size: 4em;
      margin-bottom: 75px; }
      .b-content-set-section h2 span {
        color: #01a2a6; }
    .b-content-set-section > p {
      font-family: "Lato";
      font-size: 1em;
      text-align: center;
      color: #777777;
      margin-bottom: 142px;
      line-height: 2em; }
    .b-content-set-section-l {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 46.875%;
      float: left;
      margin-left: 2.08333%;
      margin-right: 1.04167%; }
      .b-content-set-section-l-b {
        background: #ffffa6;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        padding-bottom: 89px;
        margin-bottom: 17px; }
        .b-content-set-section-l-b-h {
          background: #29d9c2;
          background-image: url("../images/hills.svg");
          background-repeat: no-repeat;
          background-position: top right;
          background-size: auto;
          -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0; }
          .b-content-set-section-l-b-h h3 {
            color: #ffffff;
            text-align: center;
            padding-top: 28px;
            padding-bottom: 28px;
            font-family: "Lato"; }
        .b-content-set-section-l-b-t {
          margin: 26px 41px 0; }
          .b-content-set-section-l-b-t-f {
            color: #29d9c2;
            margin-bottom: 18px; }
            .b-content-set-section-l-b-t-f p.number_day {
              float: left;
              font-family: "Lato"; }
            .b-content-set-section-l-b-t-f p.date_day {
              float: right;
              font-family: "Lato";
              cursor: pointer;
              padding-right: 5px; }
            .b-content-set-section-l-b-t-f span {
              float: right;
              border: 5px solid transparent;
              border-top: 5px solid #29d9c2;
              position: relative;
              top: 7px;
              cursor: pointer; }
          .b-content-set-section-l-b-t-b {
            margin-bottom: 13px; }
            .b-content-set-section-l-b-t-b-i {
              border: 1px solid #d5d57d;
              background: #ffffff;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              font-family: "Lato";
              font-size: 1em;
              color: #626262;
              padding: 20px 11px;
              cursor: pointer; }
              .b-content-set-section-l-b-t-b-i img {
                float: left; }
              .b-content-set-section-l-b-t-b-i p.name {
                float: left;
                margin-left: 30px;
                margin-top: 7px; }
              .b-content-set-section-l-b-t-b-i p.time {
                float: right;
                margin-right: 20px;
                margin-top: 7px; }
            .b-content-set-section-l-b-t-b-a p.add {
              font-family: "Lato";
              background: #f5e99e;
              display: inline-block;
              padding: 12px 12px;
              color: #d8cb7d;
              float: right;
              margin-right: 10px;
              -webkit-border-radius: 0 0 5px 5px;
              border-radius: 0 0 5px 5px;
              cursor: pointer; }
            .b-content-set-section-l-b-t-b-a p.text {
              font-family: "Lato";
              background: #f5e99e;
              padding: 12px 12px;
              color: #d8cb7d;
              margin: 0 10px;
              border-bottom: 1px solid #dbce80; }
            .b-content-set-section-l-b-t-b-a span {
              color: #ffffa6;
              width: 20px;
              height: 20px;
              background: #d8cd7d;
              -webkit-border-radius: 50%;
              border-radius: 50%;
              display: inline-block;
              text-align: center;
              margin-left: 5px; }
            .b-content-set-section-l-b-t-b-t {
              background: #f5e99e;
              font-family: "Lato";
              margin: 0 10px;
              -webkit-border-radius: 0 0 0 5px;
              border-radius: 0 0 0 5px; }
              .b-content-set-section-l-b-t-b-t p.text {
                font-family: "Lato";
                background: #f5e99e;
                padding: 12px 12px;
                color: #aea25c;
                margin: 0 10px;
                border-bottom: 1px solid #dbce80; }
                .b-content-set-section-l-b-t-b-t p.text:last-child {
                  border: none; }
          .b-content-set-section-l-b-t-d-i {
            border: 3px dashed #e8e897;
            background: #fbf6a3;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            font-family: "Lato";
            font-size: 1em;
            color: #d8cb7d;
            padding: 20px 11px;
            cursor: pointer;
            text-align: center; }
      .b-content-set-section-l-button {
        font-family: "Lato"; }
        .b-content-set-section-l-button a.pdf, .b-content-set-section-l-button a.print {
          text-decoration: none;
          color: #ffffff;
          padding: 21px 19px;
          -webkit-border-radius: 30px;
          border-radius: 30px;
          display: inline-block;
          text-transform: uppercase;
          float: right;
          margin-left: 25px; }
          .b-content-set-section-l-button a.pdf img, .b-content-set-section-l-button a.print img {
            position: relative;
            top: 3px;
            margin-right: 5px; }
        .b-content-set-section-l-button a.pdf {
          background: #c3f37f; }
        .b-content-set-section-l-button a.print {
          background: #3ddbc7; }
    .b-content-set-section-r {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 46.875%;
      float: left;
      margin-right: 2.08333%;
      margin-left: 1.04167%; }
      .b-content-set-section-r-t {
        margin-bottom: 35px; }
        .b-content-set-section-r-t h3 {
          font-family: "Lato";
          text-align: center;
          color: #29d9c2;
          font-size: 1.1em;
          margin-top: 28px; }
        .b-content-set-section-r-t span {
          width: 68px;
          margin: 0 auto 11px;
          display: block;
          color: #29d9c2; }
      .b-content-set-section-r-f p.sort {
        font-family: "Lato";
        color: #37dcc6;
        float: left; }
        .b-content-set-section-r-f p.sort span {
          color: #bcbcbc;
          cursor: pointer; }
          .b-content-set-section-r-f p.sort span:after {
            content: "";
            border: 5px solid transparent;
            border-top: 5px solid #bcbcbc;
            position: relative;
            top: 14px;
            margin-left: 5px; }
      .b-content-set-section-r-f span.search {
        float: right;
        cursor: pointer;
        width: 15px;
        height: 15px;
        background-image: url("../images/search-c.svg");
        color: #b6b6b6;
        margin-right: 27px; }
      .b-content-set-section-r-i {
        border: 1px solid #e8e8e8;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 12px 22px;
        margin-top: 15px;
        font-family: "Lato"; }
        .b-content-set-section-r-i-l {
          float: left; }
          .b-content-set-section-r-i-l p.name {
            font-size: 1.5em;
            color: #626262;
            margin-bottom: 19px; }
          .b-content-set-section-r-i-l p.time {
            color: #d0d0d0; }
            .b-content-set-section-r-i-l p.time span {
              color: #23c6b6; }
        .b-content-set-section-r-i-r {
          float: right; }
          .b-content-set-section-r-i-r img {
            float: right; }
          .b-content-set-section-r-i-r a.details {
            display: block;
            text-decoration: none;
            margin-top: 39px;
            color: #23c6b6; }

.b-content-contact {
  background-image: url("../images/contact.jpg");
  background-size: cover;
  background-position: center center; }
  .b-content-contact-f {
    background: rgba(1, 162, 166, 0.7);
    padding-top: 88px;
    padding-bottom: 75px; }
    .b-content-contact-f h2 {
      text-align: center;
      color: #ffffff;
      font-family: "Chunkfive";
      font-size: 4em;
      margin-bottom: 111px; }
    .b-content-contact-f-section {
      max-width: 1228px;
      margin-left: auto;
      margin-right: auto; }
      .b-content-contact-f-section:after {
        content: " ";
        display: block;
        clear: both; }
      .b-content-contact-f-section-l {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 38.33333%;
        float: left;
        margin-left: 2.08333%;
        margin-right: 1.25%; }
        .b-content-contact-f-section-l-e {
          margin-bottom: 19px; }
          .b-content-contact-f-section-l-e input {
            width: 100%;
            display: block;
            border: 1px solid #c7c7c7;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            padding: 21px 25px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
        .b-content-contact-f-section-l-c {
          margin-bottom: 19px; }
          .b-content-contact-f-section-l-c input.company {
            width: 47.5%;
            display: block;
            float: left;
            border: 1px solid #c7c7c7;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            padding: 21px 25px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
          .b-content-contact-f-section-l-c input.subject {
            width: 47.5%;
            display: block;
            float: right;
            border: 1px solid #c7c7c7;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            padding: 21px 25px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
        .b-content-contact-f-section-l-m textarea.message {
          width: 100%;
          display: block;
          border: 1px solid #c7c7c7;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          padding: 21px 25px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          max-width: 470px;
          margin-bottom: 27px;
          min-height: 230px; }
        .b-content-contact-f-section-l button {
          color: #ffffff;
          font-family: "Lato";
          text-transform: uppercase;
          padding: 28px 14px;
          -webkit-border-radius: 35px;
          border-radius: 35px;
          border: none;
          background: #b4ec84;
          float: right;
          cursor: pointer;
          font-weight: bold; }
      .b-content-contact-f-section-c {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 14.16667%;
        float: left;
        margin-left: 1.25%;
        margin-right: 1.25%; }
        .b-content-contact-f-section-c p {
          text-align: center;
          color: #ffffff;
          font-family: "Montserrat";
          text-transform: uppercase;
          margin-top: 110px; }
      .b-content-contact-f-section-r {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 38.33333%;
        float: left;
        padding-left: 2.08333%;
        padding-right: 2.08333%;
        margin-left: 1.25%;
        margin-right: 2.08333%; }
        .b-content-contact-f-section-r h3 {
          font-family: "Lato";
          font-size: 2.5em;
          color: #ffffff;
          margin-bottom: 63px; }
        .b-content-contact-f-section-r p {
          font-family: "Lato";
          color: #ffffff; }
          .b-content-contact-f-section-r p img {
            margin-right: 5px; }
        .b-content-contact-f-section-r a.maps {
          font-family: "Lato";
          text-transform: uppercase;
          color: #fff772;
          text-decoration: none;
          font-style: italic;
          margin-left: 20px; }
        .b-content-contact-f-section-r-f {
          margin-top: 16px; }
          .b-content-contact-f-section-r-f img {
            margin-right: 5px; }
          .b-content-contact-f-section-r-f a.phone {
            font-family: "Lato";
            color: #ffffff;
            text-decoration: none; }

.b-content-subscribe {
  background: #bdf271;
  background: -webkit-linear-gradient(45deg, #bdf271 0%, #bdf271 51%, #b1e568 51%, #b1e568 100%);
  background: linear-gradient(45deg, #bdf271 0%, #bdf271 51%, #b1e568 51%, #b1e568 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdf271', endColorstr='#b1e568',GradientType=1 );
  padding-top: 63px;
  padding-bottom: 56px; }
  .b-content-subscribe-section {
    max-width: 1228px;
    margin-left: auto;
    margin-right: auto; }
    .b-content-subscribe-section:after {
      content: " ";
      display: block;
      clear: both; }
    .b-content-subscribe-section-l {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding-left: 2.08333%;
      padding-right: 2.08333%; }
      .b-content-subscribe-section-l h3 {
        font-family: "Chunkfive";
        color: #ffffff;
        font-size: 4em;
        margin-bottom: 27px; }
      .b-content-subscribe-section-l p {
        font-family: "Lato";
        color: #ffffff; }
    .b-content-subscribe-section-r {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 41.66667%;
      float: right;
      padding-left: 2.08333%;
      padding-right: 2.08333%;
      padding-top: 15px; }
      .b-content-subscribe-section-r form {
        position: relative; }
        .b-content-subscribe-section-r form input {
          width: 100%;
          display: block;
          border: 1px solid #7ca83f;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          padding: 30px 71px 30px 29px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
        .b-content-subscribe-section-r form button {
          color: #ffffff;
          font-size: 2em;
          border: none;
          position: absolute;
          top: 1px;
          right: 1px;
          -webkit-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
          background: #01a2a6;
          padding: 18px;
          cursor: pointer; }

.footer {
  background: #2f2933;
  background-image: url("../images/footer.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .footer-block {
    max-width: 1228px;
    margin-left: auto;
    margin-right: auto; }
    .footer-block:after {
      content: " ";
      display: block;
      clear: both; }
    .footer-block-top {
      padding-top: 27px; }
      .footer-block-top-l {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding-left: 2.08333%;
        padding-right: 2.08333%; }
        .footer-block-top-l ul li {
          display: inline-block; }
          .footer-block-top-l ul li:before {
            content: "\2022";
            color: #5d5c5c;
            margin: 0 5px; }
          .footer-block-top-l ul li:first-child:before {
            content: ""; }
          .footer-block-top-l ul li a {
            text-decoration: none;
            color: #5d5c5c;
            font-family: "Lato";
            -webkit-transition: color 1s linear;
            transition: color 1s linear; }
            .footer-block-top-l ul li a:hover {
              color: #ffffff; }
      .footer-block-top-r {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding-left: 2.08333%;
        padding-right: 2.08333%; }
        .footer-block-top-r ul {
          float: right; }
          .footer-block-top-r ul li {
            display: inline-block;
            margin-right: 13px; }
            .footer-block-top-r ul li:last-child {
              margin-right: 0; }
            .footer-block-top-r ul li a {
              text-decoration: none;
              width: 30px;
              height: 30px;
              display: inline-block;
              color: #3d3741;
              -webkit-transition: none;
              transition: none; }
              .footer-block-top-r ul li a span {
                font-size: 2em;
                color: #3d3741;
                -webkit-transition: color 1s linear;
                transition: color 1s linear; }
                .footer-block-top-r ul li a span:hover {
                  color: #ffffff; }
    .footer-block-bottom {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%; }
      .footer-block-bottom p {
        text-align: center;
        font-family: "Lato";
        color: #9d9c9d; }

@media only screen and (max-width: 1024px) {
  .b-content-info-section-bottom-l-t {
    padding: 29px 15px; } }

@media only screen and (max-width: 800px) {
  .b-logo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    text-align: center; }
  .b-nav {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; }
    .b-nav nav {
      float: none;
      text-align: center; }
  .b-content-city-text-t h2 {
    font-size: 3em; }
  .b-content-search-section-s {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin: 0; }
    .b-content-search-section-s input {
      padding-left: 45px;
      display: block;
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  .b-content-search-section-l {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-top: 15px; }
  .b-content-info-section-top div {
    padding: 35px; }
  .b-content-info-section-bottom-l-t {
    padding: 15px; }
    .b-content-info-section-bottom-l-t p {
      line-height: 1.68em; }
  .b-content-set-section > p {
    margin-bottom: 50px; }
  .b-content-set-section-l {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    margin: 0; }
    .b-content-set-section-l-button a.print {
      float: left;
      margin-left: 250px; }
    .b-content-set-section-l-button a.pdf {
      float: left;
      margin-left: 15px; }
  .b-content-set-section-r {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    margin: 0; }
  .b-content-contact-f-section-l {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    margin: 0; }
    .b-content-contact-f-section-l textarea.message {
      max-width: none; }
    .b-content-contact-f-section-l button {
      float: left;
      width: 100%; }
  .b-content-contact-f-section-c {
    display: none; }
  .b-content-contact-f-section-r {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    margin: 50px 0 0 0; }
    .b-content-contact-f-section-r h3, .b-content-contact-f-section-r p {
      text-align: center; }
    .b-content-contact-f-section-r > a {
      display: block;
      text-align: center; }
    .b-content-contact-f-section-r-f {
      text-align: center; } }

@media only screen and (max-width: 768px) {
  .b-content-set-section-l-button a.print {
    margin-left: 235px; }
  .b-content-destination-section-t {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    margin: 0; }
  .b-content-destination-section-i {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    margin: 0; } }

@media only screen and (max-width: 600px) {
  .b-content-city-text-i {
    width: 100%; }
  .b-content-city-text-t {
    width: 100%;
    margin-top: 10px; }
    .b-content-city-text-t h2, .b-content-city-text-t p {
      text-align: center; }
  .b-content-destination-section-t {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; }
    .b-content-destination-section-t h2, .b-content-destination-section-t p {
      text-align: center; }
  .b-content-destination-section-i {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    margin-top: 15px;
    text-align: center; }
  .b-content-info-section-top div {
    width: 100%; }
    .b-content-info-section-top div h3 {
      display: inline-block; }
    .b-content-info-section-top div a {
      left: auto;
      right: 0;
      color: #01a2a6; }
  .b-content-info-section-bottom-l-t {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    padding: 15px 15px 50px; }
    .b-content-info-section-bottom-l-t:after {
      border: 10px solid transparent; }
    .b-content-info-section-bottom-l-t a {
      right: 0;
      color: #01a2a6; }
  .b-content-info-section-bottom-r-i {
    margin-top: 85px; }
  .b-content-set-section-l-button a.print {
    margin-left: 150px; }
  .b-content-search-section-s input {
    padding-left: 50px; }
  .b-content-subscribe-section-l {
    width: 100%; }
    .b-content-subscribe-section-l h3, .b-content-subscribe-section-l p {
      text-align: center; }
  .b-content-subscribe-section-r {
    width: 100%; }
  .footer-block-top-l ul li {
    display: block;
    margin-top: 15px; }
    .footer-block-top-l ul li:first-child:before {
      content: "\2022"; } }

@media only screen and (max-width: 480px) {
  .b-nav {
    position: relative; }
    .b-nav-persona-menu {
      right: -8px; }
    .b-nav-ul {
      position: absolute;
      top: 50px;
      left: 1px;
      text-align: center;
      display: none; }
      .b-nav-ul li {
        display: block; }
        .b-nav-ul li a {
          background: #01a2a6;
          -webkit-border-radius: 0;
          border-radius: 0;
          border-bottom: 1px solid #ffffff;
          display: block;
          padding: 15px 20px; }
          .b-nav-ul li a:hover {
            -webkit-border-radius: 0;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #ffffff;
            background: #ffffff;
            color: #01a2a6;
            padding: 15px 20px; }
    .b-nav nav {
      text-align: left; }
    .b-nav-button {
      display: inline-block;
      float: left;
      cursor: pointer; }
    .b-nav-persona {
      float: right; }
  .b-header-bottom h1 {
    font-size: 4em; }
  .b-content-search-section-s input {
    padding-left: 55px; }
  .b-content-info-section-bottom-l {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left; }
    .b-content-info-section-bottom-l h3 {
      display: inline-block; }
  .b-content-info-section-bottom-r {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    margin-top: 30px; }
  .b-content-set-section-l-button a.print {
    margin-left: 85px; }
  .b-content-city {
    padding-bottom: 0; }
    .b-content-city-text {
      padding-top: 50px; }
  .b-content-destination-section-t h2 {
    font-size: 3em; }
  .b-content-set-section-l-b-t {
    margin: 26px 5px 0; }
    .b-content-set-section-l-b-t-b-i img {
      display: block;
      width: 100%; }
    .b-content-set-section-l-b-t-b-i p.name, .b-content-set-section-l-b-t-b-i p.time {
      display: block;
      width: 100%;
      margin-left: 0;
      text-align: center;
      float: none; }
  .b-content-set-section-l-button a.print, .b-content-set-section-l-button a.pdf {
    margin-left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: none; }
  .b-content-set-section-l-button a.pdf {
    margin-top: 15px; }
  .b-content-set-section-r-i-l {
    float: none; }
    .b-content-set-section-r-i-l p.name {
      display: block;
      margin-bottom: 0;
      text-align: center; }
    .b-content-set-section-r-i-l p.time {
      text-align: center; }
  .b-content-set-section-r-f span.search {
    margin-right: 0; }
  .b-content-set-section-r-i-r {
    float: none; }
    .b-content-set-section-r-i-r img {
      float: none;
      width: 100%; }
    .b-content-set-section-r-i-r a.details {
      width: 100%;
      display: block;
      text-align: center;
      margin-top: 5px; }
  .b-content-contact-f-section-l-c input.company, .b-content-contact-f-section-l-c input.subject {
    float: none;
    width: 100%; }
  .b-content-contact-f-section-l-c input.company {
    margin-bottom: 19px; }
  .b-content-contact-f-section-r h3, .b-content-subscribe-section-l h3 {
    font-size: 2em; }
  .footer-block-top-l {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; }
  .footer-block-top-r {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 2.08333%;
    padding-right: 2.08333%; }
    .footer-block-top-r li {
      margin-bottom: 13px; } }
